html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; 
  font-family: "Candara", "Bodoni MT", "Bodoni 72", cursive, sans-serif;
  background-color: #2a2e37;
  height: 100%; 
  color: #eceff4; 
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  height: 100vh;
  padding: 20px;
  background-color: #3b4252; 
  text-align: center;
  box-sizing: border-box; 
}

#continueButton {
  background-color: #81a1c1; 
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  color: #121313; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#continueButton:hover {
  background-color: #88c0d0; 
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px); 
  background-color: #4c566a; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 1000;
  overflow: hidden;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  color: #eceff4; 
  flex: 1;
  font-family: "Brush Script MT", cursive;
}

.date-time {
  font-size: 1rem;
  text-align: right;
  max-width: 240px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px; 
}

.container {
  padding-left: 10px;
  width: calc(100% - 10px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; 
}

#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr); 
  grid-gap: 5px;
  padding-left: 10px;
  margin-top: 100px; 
  margin-right: 20px; 
  width: calc(100% - 30px); 
}

.square {
  background-color: #e0ffff; 
  color: #000080;
  background-color: #e0ffff;
  border: 1px solid #020f24; 
  cursor: pointer;
  aspect-ratio: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.2;
  transition: background-color 0.3s ease; 
}

.square.red {
  background-color: #ed0a21; 
}

.square.green {
  background-color: #73d51d; 
}

.square.yellow {
  background-color: #fff834; 
}

.square:hover {
  background-color: #43fdfd; 
}

.square.crossed {
  position: relative;
}

.square.crossed::before,
.square.crossed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bf616a; 
  transform: rotate(-45deg);
}

.square.crossed::after {
  transform: rotate(45deg);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eceff4; 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  max-width: 90vw;
}

.popup p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #2a2e37; 
}

.popup textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #4c566a; 
  border-radius: 10px;
  font-size: 1rem;
  resize: vertical;
}

.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: #eceff4; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup button.save,
.popup button.cancel {
  background-color: #81a1c1; 
}

.popup button.save:hover,
.popup button.cancel:hover {
  background-color: #88c0d0; 
}

.color-option {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #2e3440; 
  color: #eceff4; 
  display: inline-flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.color-option .color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.color-option .green {
  background-color: #a3be8c; 
}

.color-option .yellow {
  background-color: #ebcb8b; 
}

.color-option .red {
  background-color: #bf616a; 
}

.color-option .reset {
  background-color: #4c566a; 
  border: 1px solid #eceff4; 
}

.color-option:hover,
.color-option.selected {
  transform: scale(1.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 900;
}

.hidden {
  display: none;
}
